.container {
    background-color: var(--accent-3);
    width: 100vw;
    height: 70vh;
    padding: 1rem 1rem;
}

.top-section {
    margin: auto;
    height: 2.5rem;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-section > h2 {
    font-size: 2rem;
    text-transform: capitalize;
}

.profile {
    background-color: var(--accent-3);
    margin: 1rem auto 1rem;
    display: flex;
    padding: 1.5rem;
    min-height: 350px;
    max-width: 1000px;
    border: 1px solid var(--accent-1);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.personal-data {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 2rem;
}

.personal-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .1rem;
}

.personal-text > h3 {
    font-size: 1.5rem;
    text-transform: capitalize;
}
.personal-text > h4 {
    font-size: 1.2rem;
    text-transform: capitalize;
}

