.skill-badge {
    background-color: var(--accent-1);
    padding: .5rem;
    border-radius: var(--radius);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 1.5rem;
    width: fit-content;
    height: 35px;
}

.skill-badge > button {
    border: none;
    text-transform: uppercase;
    font-weight: 600;
}
